@import 'desktop';
@import 'global';
@import 'modal';
@import 'reset';
@import 'wrap';

h1#title {
  background-color: $slate-gray-green;
  color: $sandy-orange;
  display: block;
  font-family: 'Lobster', cursive;
  font-size: 4em;
  margin: auto;
  text-align: center;
}
footer#footer {
  background-color: $slate-gray-green;
  bottom: 0;
  height: 80px;
  position: relative;
}
