@import '_global';

#desktop {
  background-color: white;
  border: 20px solid $indian-red;
  height: calc(100% - 240px);
  margin: 30px auto;
  max-width: 640px;
  padding: 30px;
  position: relative;
  width: 90%;
  #url-index {
    height: 83%;
    margin-bottom: 30px;
    text-align: center;
    table {
      border-collapse: collapse;
      margin: auto;
      th {
        font-size: 3em;
        .table-icon {
          color: $sandy-orange;
          cursor: pointer;
        }
        .table-icon:hover {
          color: $slate-gray-green;
        }
        .table-icon:active {
          color: $indian-red;
        }
      }
      tbody {
        tr:hover {
          background-color: $slate-gray-green;
          color: $sandy-orange;
          cursor: pointer;
        }
        td {
          font-family: monospace;
          font-size: 2em;
        }
      }
    }
  }
  #toolbelt {
    position: absolute;
    bottom: 30px;
    .tool {
      animation: scale-down 1s ease forwards;
      color: $sandy-orange;
      font-size: 80px;
    }
    .tool:hover {
      animation: scale-up .1s ease forwards;
      color: $slate-gray-green;
      cursor: pointer;
    }
    .tool:active {
      color: $indian-red;
    }
  }
}
