@import '_global';

#desktop {
  background-color: white;
  border: 20px solid $indian-red;
  height: calc(100% - 240px);
  margin: 30px auto;
  max-width: 640px;
  padding: 30px;
  position: relative;
  width: 90%;
  #url-index {
    height: 83%;
    margin-bottom: 30px;
  }
  #toolbelt {
    position: absolute;
    bottom: 30px;
    .tool {
      animation: scale-down 1s ease forwards;
      color: $sandy-orange;
      font-size: 80px;
    }
    .tool:hover {
      animation: scale-up .1s ease forwards;
      color: $slate-gray-green;
      cursor: pointer;
    }
  }
}
