html {
  height: 100%;
  body {
    background-color: $khaki-yellow;
    height: 100%;
    #root {
      min-height: calc(100% - 80px);
      #wrap {
        position: absolute;
        height: calc(100% - 80px);
        width: 100%;
      }
    }
  }
}
